<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>18221</key>
	<string>18239</string>
	<key>18239</key>
	<string>18221</string>
	<key>18301</key>
	<string>18309</string>
	<key>18309</key>
	<string>18301</string>
	<key>18311</key>
	<string>18319</string>
	<key>18319</key>
	<string>18311</string>
	<key>18329</key>
	<string>18321</string>
	<key>18321</key>
	<string>18329</string>
	<key>18339</key>
	<string>18331</string>
	<key>18331</key>
	<string>18339</string>
	<key>16161</key>
	<string>None</string>
	<key>16169</key>
	<string>16161</string>
	<key>ED1</key>
	<string>None</string>
	<key>KV0</key>
	<string>None</string>
	<key>UT</key>
	<string>None</string>
	<key>16171</key>
	<string>16179</string>
	<key>16179</key>
	<string>16171</string>
	<key>16181</key>
	<string>16189</string>
	<key>16189</key>
	<string>16181</string>
	<key>16199</key>
	<string>None</string>
	<key>16191</key>
	<string>None</string>
	<key>KRD4</key>
	<string>KRD5</string>
	<key>KRD5</key>
	<string>KRD4</string>
	<key>KRD3</key>
	<string>None</string>
	<key>KRD1</key>
	<string>KRD2</string>
	<key>KRD2</key>
	<string>KRD1</string>
	<key>CD1</key>
	<string>None</string>
	<key>BL3</key>
	<string>BL2</string>
	<key>BL2</key>
	<string>BL3</string>
	<key>PGP3</key>
	<string>PGP4</string>
	<key>PGP4</key>
	<string>PGP3</string>
	<key>PGP1</key>
	<string>PGP2</string>
	<key>PGP2</key>
	<string>PGP1</string>
	<key>PGP0</key>
	<string>None</string>
	<key>15131</key>
	<string>None</string>
</dict>
</plist>
