<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A1</key>
	<array>
		<string>PGP0</string>
		<string>15131</string>
		<string>18331</string>
		<string>18221</string>
		<string>18301</string>
		<string>18311</string>
		<string>18321</string>
		<string>16171</string>
		<string>16181</string>
		<string>KRD4</string>
		<string>KRD2</string>
		<string>CD1</string>
		<string>BL3</string>
		<string>PGP4</string>
		<string>PGP2</string>
		<string>PGP0</string>
	</array>
	<key>A2</key>
	<array>
		<string>PGP0</string>
		<string>PGP1</string>
		<string>PGP3</string>
		<string>BL2</string>
		<string>CD1</string>
		<string>KRD1</string>
		<string>KRD3</string>
		<string>KRD5</string>
		<string>16189</string>
		<string>16179</string>
		<string>16161</string>
		<string>18329</string>
		<string>18311</string>
		<string>18309</string>
		<string>18239</string>
		<string>18339</string>
		<string>PGP0</string>
	</array>
	<key>B</key>
	<array>
		<string>ED1</string>
		<string>16161</string>
		<string>16171</string>
		<string>16181</string>
		<string>KRD4</string>
		<string>KRD2</string>
		<string>CD1</string>
		<string>KRD1</string>
		<string>KRD3</string>
		<string>KRD5</string>
		<string>16189</string>
		<string>16179</string>
		<string>16169</string>
		<string>ED1</string>
	</array>
	<key>C</key>
	<array>
		<string>ED1</string>
		<string>16161</string>
		<string>18329</string>
		<string>18319</string>
		<string>18309</string>
		<string>18301</string>
		<string>18311</string>
		<string>18321</string>
		<string>16169</string>
		<string>ED1</string>
	</array>
	<key>D1</key>
	<array>
		<string>BL2</string>
		<string>CD1</string>
		<string>KRD5</string>
		<string>16189</string>
		<string>16179</string>
		<string>16161</string>
		<string>UT</string>
		<string>18329</string>
		<string>18319</string>
		<string>18309</string>
	</array>
	<key>D2</key>
	<array>
		<string>18301</string>
		<string>18311</string>
		<string>18321</string>
		<string>16161</string>
		<string>UT</string>
		<string>16171</string>
		<string>16181</string>
		<string>KRD4</string>
		<string>KRD2</string>
		<string>CD1</string>
		<string>BL3</string>
	</array>
</dict>
</plist>
