<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>15131</key>
	<array>
		<string>A1</string>
		<string>92</string>
		<string>200</string>
	</array>
	<key>15139</key>
	<array>
		<string>92</string>
		<string>200</string>
	</array>
	<key>16161</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>D1</string>
		<string>D2</string>
		<string>A2</string>
		<string>BTC</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16169</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>96</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16171</key>
	<array>
		<string>B</string>
		<string>D2</string>
		<string>A1</string>
		<string>BTC</string>
		<string>95</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16179</key>
	<array>
		<string>B</string>
		<string>D1</string>
		<string>A2</string>
		<string>95</string>
		<string>96</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16181</key>
	<array>
		<string>B</string>
		<string>D2</string>
		<string>A1</string>
		<string>BTC</string>
		<string>95</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16189</key>
	<array>
		<string>B</string>
		<string>D1</string>
		<string>A2</string>
		<string>95</string>
		<string>96</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16191</key>
	<array>
		<string>95</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>16199</key>
	<array>
		<string>95</string>
		<string>96</string>
		<string>151</string>
		<string>151E</string>
	</array>
	<key>18221</key>
	<array>
		<string>A1</string>
		<string>95</string>
	</array>
	<key>18239</key>
	<array>
		<string>A2</string>
		<string>95</string>
	</array>
	<key>18301</key>
	<array>
		<string>C</string>
		<string>D2</string>
		<string>A1</string>
		<string>95</string>
	</array>
	<key>18309</key>
	<array>
		<string>C</string>
		<string>D1</string>
		<string>A2</string>
		<string>95</string>
	</array>
	<key>18311</key>
	<array>
		<string>C</string>
		<string>D2</string>
		<string>A1</string>
		<string>95</string>
	</array>
	<key>18319</key>
	<array>
		<string>C</string>
		<string>D1</string>
		<string>A2</string>
		<string>95</string>
	</array>
	<key>18321</key>
	<array>
		<string>C</string>
		<string>D2</string>
		<string>A1</string>
		<string>95</string>
	</array>
	<key>18329</key>
	<array>
		<string>C</string>
		<string>D1</string>
		<string>A2</string>
		<string>95</string>
	</array>
	<key>18331</key>
	<array>
		<string>A1</string>
		<string>95</string>
	</array>
	<key>18339</key>
	<array>
		<string>A2</string>
		<string>95</string>
	</array>
	<key>BL2</key>
	<array>
		<string>D1</string>
		<string>A2</string>
	</array>
	<key>BL3</key>
	<array>
		<string>D2</string>
		<string>A1</string>
		<string>BTC</string>
	</array>
	<key>CD1</key>
	<array>
		<string>B</string>
		<string>D1</string>
		<string>D2</string>
		<string>A1</string>
		<string>A2</string>
	</array>
	<key>DER2</key>
	<array>
		<string>BTC</string>
	</array>
	<key>DER3</key>
	<array>
		<string>BTC</string>
	</array>
	<key>ED1</key>
	<array>
		<string>B</string>
		<string>C</string>
	</array>
	<key>KRD1</key>
	<array>
		<string>B</string>
		<string>A2</string>
	</array>
	<key>KRD2</key>
	<array>
		<string>B</string>
		<string>D2</string>
		<string>A1</string>
		<string>BTC</string>
	</array>
	<key>KRD3</key>
	<array>
		<string>B</string>
		<string>A2</string>
	</array>
	<key>KRD4</key>
	<array>
		<string>B</string>
		<string>D2</string>
		<string>A1</string>
		<string>BTC</string>
	</array>
	<key>KRD5</key>
	<array>
		<string>B</string>
		<string>D1</string>
		<string>A2</string>
	</array>
	<key>KV0</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>BTC</string>
	</array>
	<key>PGP0</key>
	<array>
		<string>A1</string>
		<string>A2</string>
		<string>BTC</string>
	</array>
	<key>PGP1</key>
	<array>
		<string>A2</string>
	</array>
	<key>PGP2</key>
	<array>
		<string>A1</string>
	</array>
	<key>PGP3</key>
	<array>
		<string>A2</string>
	</array>
	<key>PGP4</key>
	<array>
		<string>A1</string>
	</array>
	<key>UT</key>
	<array>
		<string>D1</string>
		<string>D2</string>
	</array>
</dict>
</plist>
